.venv
.git
.github
.data
repos
.runs
.stable_version_results
.dependencies_checked.md
__pycache__
*.pyc
*.pyo
.pytest_cache
tests/.pytest_cache
*.ipynb_checkpoints
Dockerfile
start.sh
data_example
README.md
**/README.md
